
/* Sessão principal */

.section-principal{
    padding: 10px 10px 60px 10px;
    color: white;
    background: url(../img/background-teste.jpg) no-repeat center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
 
    
}
.section-principal > .logo > img{  
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    border: solid 2px green;
}


.section-principal h2{
    margin-top: 10px;
    font-size: 19px;
    line-height: 30px;
    
}

.section-principal h1{
    margin-top: 20px;
}

.section-principal > h3, .metodologia > h2{
    padding-top: 10px;
}

.btn{
    padding: 10px;
    color: white;
    background-color: rgb(0, 255, 0);
    width: 70%;
    font-size: 1em;
    border-radius: 50px 50px 50px 50px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}


  .span-sessao-1{
    padding: 8px;
    background-color: green;
    border-radius: 10px;
}

.imagens-bandeiras-cartao img{
    text-align: center;
    width: 300px;
    margin-top: 20px;
}



.pc-e-mobile img{
    text-align: center;
    width: 300px;
    margin-top: 10px;
}

/*Sessao beneficios */

.sessao-beneficios{
    padding: 10px;
    text-align: center;
}
.sessao-beneficios h1{
    color: black;
    font-size: 2em;
}

.beneficio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beneficio article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    border: solid 2px green;
    border-radius: 10px;
}

.sessao-beneficios p {
    color: black;
    padding: 10px;
    font-weight: bolder;

}

.imagem-beneficios img{
    text-align: center;
    width: 50px;
    height: 50px;
}


/* Depoimentos*/

.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-top: 10px;
   
}

.depoimentos h1{
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 25px;
}



.depoimento img{
    width: 300px;
    border: solid 1px green;
    border-radius: 10px;
}



/* Metodologia */

.metodologia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(7, 73, 85);
    color: white;
    border-top: solid 2px black;
    text-align: center;
}

.metodologia h1{
    font-size: 2em;
}

.metodologia > .btn{
    margin-top: 10px;
}

.metodologia > p{
    padding: 10px;
    margin-top: 10px;
    font-size: 1.9em;
    color: white;
    font-weight: bolder;
}



.metodologia-imagem-metodo{
    margin-top: 20px;
    text-align: center;
}

.metodologia-imagem-metodo > img{
    width: 50%;
}

/* Resultado*/

.prova-social{
    margin-top: 10px;
    text-align: center;

}

.prova-social h1{
    color: black;
    padding: 10px;
    font-size: 2em;
}


.resultado-alunos img{
    margin-top: 20px;
     width: 360px;
     height: 300px;
     
     border-radius: 10px;
}






/* Sobre o produtor */


.sobre-o-produtor{
    margin-top: 25px;
    text-align: center;
    padding: 20px;

}

.imagem-danton >img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sobre-o-produtor h1{
    text-align: center;
    font-size: 1.5em;
}

.sobre-o-produtor p{
    font-size: 1.2em;
    text-align: justify;
}

.sobre-o-produtor h1, .sobre-o-produtor p{
    margin-top: 20px;
    color: black;

   

}

.sobre-o-produtor .btn{
    margin-top: 10px;
}

.garantia-pc{
    display: none;
}



/* Garantia de 7 dias */

.garantia-de-7dias{
    text-align: center;
    padding: 10px 0px 50px 0px;
}

.garantia-de-7dias h1{
    padding: 10px;
    font-size: 2em;
    color: black;
}

.garantia-de-7dias h2{
    padding: 10px;
    color: black;
    font-size: 1.5em;
}

.garantia-de-7dias img{
    margin-top: 10px;
    width: 250px;

}

.garantia-de-7dias p{
    font-size: 1.2em;
    padding: 10px;
    color: black;
}




/* Duvidas*/

.duvidas{
padding: 50px 10px 20px 10px;
background-color: rgb(7, 73, 85);
}

.duvidas h1{
    text-align: center;
}


.duvidas h2{
    padding: 10px;
    height: 80px;
    border: solid 1px black;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.123);
}

.duvidas-mais{
    font-weight: 700;
}





.duvida-ocultada{
    display: none;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

.duvida-ocultada-toggle{
    display:block;
    
}


.whatsaap{
    padding: 10px;
    align-self: flex-end;
}

.whatsaap > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.sap{
    background-color: rgb(7, 73, 85);
    text-align: center;
}

aside{
    background-color: rgb(7, 73, 85);
}


/*Rodapé */

.rodapé{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgb(7, 73, 85);
}










